.container {
    max-width: 768px !important;
    margin-top: 10vh;
}

label {
    visibility: hidden;
}

pre {
    white-space: pre-wrap;
    background-color: #F8F8F8;
    border-radius: 5px;
    padding: 1rem;
}

.result {
    margin-top: 5rem;
}

.result pre {
    margin-top: 1rem;
}